.MuiGrid-root {
}

.MuiDialogContent-root {
  /* // padding-top: 20px !important; */
  margin: 20px !important;
  padding: 10px !important;
}
.dialogBody {
  padding: 10px !important;
}
.gridRow{
  margin-bottom: 10px !important;
}
