.dateContainerSection{
    float: left; margin-right: 10px;
}
.daySection1{
    height:40px; width:50px; background-color: lightgray; font-weight: bold;
}
.daySection2{
    font-size: 0.7em; padding-top:3px; font-size: 0.8em;
}
.dateSection{
    font-size: 0.8em;
}
.redFontColor{
    color:rgba(255, 0, 0, 0.651);
}
.progressBar{
    height: 40px;
    cursor: pointer;
}
.progressBarHoursSection{
   float:left; padding-left:10px; font-weight: bold; font-size: 0.75rem;
}
.progressBarTaskSection{
    float:left; padding-left:10px; font-size: 0.75rem;
}

.wholeDiv {
    border: none;
    transition: border-color 2s ease, background-color 0.1s ease;
  }
.wholeDiv:hover {
    border: 1px solid rgba(74, 152, 248, 0.689);
    background-color: rgb(214, 227, 255);
  }
.addEdit {
    
    float: right;
    margin-left: 2px;
}
.MuiPaper-root {
    width: 100%;
}
.MuiDialogContent-root {
    /* // padding-top: 20px !important; */
    /* margin: 20px !important;
    padding: 10px !important; */
    width: 700px !important;
  }
  .MuiDialog-paper{
    max-width: 700px !important;

  }