@font-face {
  font-family: "avenirlight";   /*Can be any text*/
  src: local("AvenirNextLTPro-Regular"),
    url("./fonts/AvenirNextLTPro-Regular.woff") format("truetype");
}
@font-face {
  font-family: "avenirbold";   /*Can be any text*/
  src: local("AvenirNextLTPro-bold"),
    url("./fonts/AvenirNextLTPro-Bold.woff") format("truetype");
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: #f47b34ad;
outline: 1px solid #f47b34ad;
}
.col-12.skill_height {
  max-height: 35vh;
  overflow: auto;
}
.skill_height::-webkit-scrollbar {
  width: 1em;
}

.skill_height::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.skill_height::-webkit-scrollbar-thumb {
background-color: #f47b34ad;
outline: 1px solid #f47b34ad;
}
body {
  margin: 0;
  font-family: 'avenirbold' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav_search {
  width: 75%;
  float: left;
}

.nav_profileimg {
  width: 25px;
}

.nav_search button.btn.btn-outline-success {
  border-radius: 0;
  background-color: #f47b34;
  border: #f47b34;
  color: #fff;
}

.nav_search input.form-control {
  border-radius: 0;
}

.nav_search .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #f47b34;
  outline: 0;
  box-shadow: 0 0 0 0 #f47b34;
}

ul.dropdown-menu.show {
  border-radius: 16px;
  border: none;
}

.login_header{
 color:#000
} 

.form-bg-radius {
  border-radius: 1rem;
  background-color: #fff !important;
  box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.02) !important;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: 1px solid #00000047 !important;
}
.poweredby_logo {
  margin-top: 15%;
  font-size: 12px;
}

.poweredby_logo img {
  width: 20%;
}
.login_button {
  background-color: #f47b34 !important;
  border: #f47b34 !important;
}

.login_footer {
  bottom: 0%;
  color: #fff;
  width: 100% !important;
  padding-top: 2%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.login_footer a {
  color: #f47b34;
}

.login_footer a:hover {
  color: #f47b34;
}
.h-divider{
  margin-top:5px;
  margin-bottom:5px;
  height:1px;
  width:100%;
  border-top:1px solid gray;
 }

 html * { font-size: 14px; font-family: "avenirlight" !important; }


.profile_pictureempdetails {
  width: 40%;
}

/* Login Css */

.login_div {
  height: 100vh;
  position: relative;
}

.login_footer footer {
  background-color: #0e4372;
  padding: 1rem;
}

.login_logo {
  padding-top: 1rem;
}

 .menu-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f47b34;
  width: 0%;
  content: "";
  height: 1.5px;
}

.menubar {
  background-color:#e3e3e34f;
  opacity: 1;
}
.menu-item:hover::after {
  width: 100%;
}

label.radio_emptype {
  margin-left: 5px;
  margin-right: 17px;

}

/* Filter Page */

.offcanvas-overlay {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.offcanvas.show + .offcanvas-overlay {
  opacity: 1;
  pointer-events: auto;
}

.visible-lg, .visible-md, .visible-sm, .visible-xs {
  display: none!important;
}

.ReactModal__Content {
    position: absolute !important;
    inset: 10rem 18% auto !important;
    border: 1px solid rgb(204, 204, 204) !important;
    background: rgb(255, 255, 255) !important;
    overflow: auto !important;
    border-radius: 40px !important;
    outline: none !important;
    padding: 20px !important;
    transform: translate(0%, -15%) !important;
    width: 80% !important;
    margin-right: 15% !important;
    height: 85vh;
}
.row .row-offcanvas .row-offcanvas-right>* {
  width: auto;
}



.banner_background {
  width: 100%;
  float: left;
  background-color: #e3e3e3;
}

.banner_background .btn {
  width: 15%;
  float: left;
  background: #fff;
  border: #fff;
  border-radius: 0;
}

.banner_header {
  width: 80%;
  float: right;
  /* text-align: center; */
  vertical-align: middle;
  padding-top: 0.6rem;
  margin-bottom: 0;
}

i.bi.bi-sliders {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  background: #e3e3e3;
  padding: 5px;
  border-radius: 10px;
}

.float-left {
  float: left;
}

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 6px;
  margin-left: 6px;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
}

.media img {
  width: 20%;
  height: 3rem;
  margin-right: 10px;
}

small.text-muted {
  font-size: 10px;
}

p.card-text.m-0 {
  font-size: .8rem;
  color: #6c757d;
}

p.card-text.m-0 b {
  font-size: .6rem;
}

.view_resume {
  background: #F27B3F  !important;
  color: #fff  !important;
  font-size: 0.7rem !important;
  border: #F27B3F  !important;
  text-align: center;
  margin: 0 auto;
  float: left;
  width: 5rem;
  margin-left: 2.5rem;
  position: absolute;
    bottom: 4px;
}

.main_li {
  font-weight: bold !important;
  color: #0e4372 !important;
}

.card_height {
  min-height: 52vh;
  max-width: 65vh;
  border: 1px solid #e3e3e3 !important;
}

i.bi.bi-chevron-left {
  font-size: 26px;
}

button.btn.btn-primary.btn-xs.btn-close-white {
  padding: 0;
  background: none;
  border: 0;
}

a.a_underline {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
input#exp {
  accent-color: #F27B3F;
}
@media (min-width: 768px) {
  .nav_search.d-md-block {
    display: flex !important;
  }

  .container-fluid.homepage {
    width: 90%;
  }
}

@media (min-width: 992px ) {
  .card_spacing {
    padding-right: 1rem;
  }
  .nav_search.d-md-block {
    display: flex !important;
  }
  #navbarSupportedContent {
    display: flex!important;
    flex-basis: auto;
  }
  .container-fluid.homepage {
    width: 90%;
  }
  .homepage div#navbarSupportedContent {
    display: block !important;
  }
 .search_results {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    min-height: 100vh;
    padding-right: 0.5rem;
 }
 .cat_menubar {
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
 }
}

.mobile_menu .float-right {
  float: none;
}
.homepage .nav_search  {
  display: none !important;
}

.add_in_list {
  background-color: #F27B3F !important;
  border: 2px solid #F27B3F !important;
}

.hire {
  background-color: transparent !important;
  color: #F27B3F !important;
  border: 2px solid #F27B3F !important;
}

.exitarrow {
  background: transparent !important;
  border: navajowhite !important;
  color: #F27B3F !important;
  /* font-size: 26px; */
  padding: 0 !important;
}

.exitarrow i.bi.bi-box-arrow-left {
  font-size: 42px;
  font-weight: bolder;
}

.cursor {
  cursor: pointer;
}

.adiv {
  display: flex;
  align-items: center;
}

#right-side a img {
  margin-right: 10px;
}

#profilepic {
 width: 10rem;
 height: 10rem;
  border-radius:50px;
  margin-right: 10px;
}

.hours_size {
  font-size: 1rem;
  font-weight: bold;
}

/* homepage css*/
.main_container.pt-3.homepage_main {
  background: linear-gradient(to bottom, #fde1d0 30%, white 100%);
  border-radius: 2rem;
  float: left;
  width: 100%;
  height: 80vh;
}

button.btn.btn-outline-success.homepage_search_btn {
  background-color: #F27B3F;
  color: #fff;
  border: #F27B3F;
  border-radius: 10px;
  margin-left: -2rem;
    opacity: 1;
}
input.form-control.homepage_search_input {
  border-radius: 10px 0px 0px 10px;
}

.card.text-center.min_height:hover {
  background-color: #fde1d0 !important;
  box-shadow: 2px 2px #6c63636e;
}

.cat_images {
  width: 50% !important;
}

.card.text-center.min_height {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 1.5rem;
  min-height: 160px;
}

.search_container {
  text-align: center;
    max-width: 100% !important;
    float: left;
    align-items: center;
    display: flex;
    justify-content: center;
    float: left;
}

.search_container form {
  width: 30%;
}

.float-right {
  float: right;
}

.catmodalpop {
  position: absolute !important;
  inset: 17rem 30% auto !important;
  border: 1px solid rgb(204, 204, 204) !important;
  background: rgb(255, 255, 255) !important;
  overflow: auto !important;
  border-radius: 40px !important;
  outline: none !important;
  padding: 20px !important;
  transform: translate(0%, -15%) !important;
  width: 40% !important;
  margin-right: 15% !important;
  height: auto;
}
.login_logo img {
    width: 20%;
}

#photo {
  margin-left: 2px;
  cursor: pointer;
}

#photo img {
  vertical-align: middle;
  width: 15%;
  margin-right: 1rem;
}

#photo span {
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
}

#photo2 {
  text-align: center;
}

#photo2 img {
  vertical-align: middle;
  width: 75%;
  margin-right: 1rem;
}

#photo2 span {
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
}
.logo {
  width: 25%;
}
.cs-main-container{
  border-radius: 2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

/* Reports */

.tss-1akey0g-MUIDataTableHeadCell-data {
  font-size: 12px;
}

.css-1ygcj2i-MuiTableCell-root {
  background-color: #f47b34 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.MuiTableBody-root tr:nth-child(even) {
  background-color: #f47b342e;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.dropdown-menu .dropdown-submenu {
   display: none;
    padding-left: 0.5rem;
    position: absolute;
    right: 10rem;
    top: -7px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

  ul.dropdown-submenu {
    list-style-type: none;
}

h4.text-center.report_title {
  float: left;
  /* position: absolute; */
  width: 100%;
}
.report_body {
  float: left;
  /* position: absolute; */
  width: 100%;
}
.report_button {
  padding-top: 0.3rem;
}

.btn-outline-primary:hover {
  background: #f47b34 ;
}
.btn-outline-primary, .btn-outline-secondary {
  background: #f47b34 !important;
  color: #fff !important;
  border: #f47b34 !important;
}

.css-ubpweo-MuiPaper-root-MuiPopover-paper {
  width: 40% !important;
}
.form-check-input:checked {
  background-color: #f47b34 !important;
  border-color: #f47b34 !important;
}

.card_height .card-img-top {
  max-height: 30vh !important;
  min-height: 30vh !important;
}

.MuiTable-root th {
  background-color: #f47b34 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border: 1px solid;
  padding-top: 0;
  padding-bottom: 0;
}
.MuiTableBody-root td {
  border: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
}
.MuiTable-root th div {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.MuiPaper-root {
  padding: 1rem;
}

.btn-outline-light {
  background-color: #ccc !important;
}

.btn-outline-light:hover {
  background-color: #ccc !important;
}

.btn-outline-info:hover {
  background-color: #0e4372 !important;
}
.btn-outline-info {
  background-color: #0e4372 !important;
  border: #0e4372 !important;
  color: #fff !important;
}
.edit_icon:hover {
  background-color: #0e4372 !important ;
  border-color: #0e4372 !important; 
  color: #fff !important;
}
.edit_icon {
  border: 1px solid #0e4372 !important;
  color: #0e4372 !important;
}

button.navbar-toggler.btn.btn-outline-secondary.ms-1.me-1 {
  padding: 6px 0 !important;
  color: #fff;
}
.navbar-toggler i.bi.bi-grid-3x3-gap-fill{
  font-size: 24px;
  padding: 6px 10px;
}

.checkbox-xl .form-check-input {
  top: 1.2rem;
  scale: 1.7;
  margin-right: 0.8rem;
  }
 
 .checkbox-xl .form-check-label {
  padding-top: 19px;
  }
.dashboard_table {
  width: 100%;
  display: block;
  overflow-x: auto;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

.display_table {
  overflow-x: auto;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default {
  border-color: #ddd;
}
.panel-body {
  padding: 15px;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
  border-color: #ddd;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

  @media screen and (max-width: 767px) {
    .tss-1ej321f-MUIDataTableBodyCell-cellHide {
      display: none !important;
  }
    .login_logo img {
      width: 100%;
  }
    .row-offcanvas {
      position: relative;
      -webkit-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      transition: all .25s ease-out;
    }
  
    .row-offcanvas-right {
      right: 0;
    }
  
    .row-offcanvas-left {
      left: 0;
    }
  
    .row-offcanvas-right .sidebar-offcanvas {
      left: -50%; /* 6 columns */
      width: 50% !important;
    }
  
    .row-offcanvas-left .sidebar-offcanvas {
      left: -50%; /* 6 columns */
  
    }
  
    /* .row-offcanvas-right.active {
      right: 50%;
    } */
  
    .row-offcanvas-left.active {
      left: 50%; /* 6 columns */
    }
  
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 50%; /* 6 columns */
    }
  
    .visible-xs {
      display: block!important;
    }
    .row-offcanvas-right.active .sidebar-offcanvas {
      left: 0;
      width: 70% !important;
      z-index: 1;
    }
  
    .sidebar_background {
      background-color: #e3e3e3e3;
    }
  
    .container-fluid {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  
    .menubar {
      background-color: #fff;
      opacity: 1;
    }
  
    .main_li {
      color: #000;
      font-weight: bold;
    }
    
    .nav_search {
      width: 100%;
    }
  
    .ReactModal__Content {
      position: absolute !important;
      inset: 10rem 0 auto !important;
      border: 1px solid rgb(204, 204, 204) !important;
      background: rgb(255, 255, 255) !important;
      overflow: auto !important;
      border-radius: 4px !important;
      outline: none !important;
      padding: 20px !important;
      transform: translate(0%, -15%) !important;
      width: 100% !important;
      height: 85vh;
    }
  
    .ReactModal__Overlay.ReactModal__Overlay--after-open {
      inset: 0rem 0 auto !important;
    }
  
    .catmodalpop {
      position: absolute !important;
      inset: 10rem 2% auto !important;
      border: 1px solid rgb(204, 204, 204) !important;
      background: rgb(255, 255, 255) !important;
      overflow: auto !important;
      border-radius: 4px !important;
      outline: none !important;
      padding: 20px !important;
      transform: translate(0%, -15%) !important;
      width: 96% !important;
      height: 85vh;
  }
  
    #profilepic {
      width: 7rem;
      height: auto;
      border-radius: 50px;
    }
  
    .hours_size {
      font-size: 0.6rem;
      font-weight: bold;
  }
  .navbar-collapse {
    align-items: center;
    flex-basis: 100%;
    flex-grow: 1;
    background: #fff;
    position: absolute;
    width: 80%;
    top: -3.2rem;
    z-index: 999;
    float: right;
    right: 0;
}

  .homepage .navbar-collapse {
    top: 4rem;
  } 
  div#navbarSupportedContent {
    display: none;
  }
  .homepage .show {
    display: block !important;
  }
  .homepage ul.navbar-nav {
    width: 100%;
    background-color: #fff !important;
  }
  .logo {
    width: 50%;
}
  
  .homepage .navbar-toggler-icon {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px !important;
  }
  .homepage button.navbar-toggler:focus {
    box-shadow: none;
  }
  .homepage div#navbarSupportedContent {
    width: 50%;
    margin-left: 50%;
    /* background: red; */
  }
  .dropdown-menu .dropdown-submenu {
    display: block;
    position: unset;
  }
  .home_button {
    position: absolute;
    right: 3rem;
  }
  .card_height {
    min-height: 40vh;
    max-height: 40vh;
    border: 1px solid #727272 !important;
  }
  .card_height .card-img-top {
    max-height: 20vh !important;
    min-height: 20vh !important;
  }
}

.dashboard_table::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.dashboard_table::-webkit-scrollbar-track {
  background-color: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dashboard_table::-webkit-scrollbar-thumb {
  background-color: #f47b34ad;
  outline: 1px solid #f47b34ad;
}